#home-text {
    text-align: center;
    margin: 150px;
    font-size: 350%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}